body {
  font-family: "Avenir";
  font-size: 18px;
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
  line-height: 1.5;
  color: gray;
  background: #FFF3D3;
}

h1 {
  font-size: 100px;
  font-family: "Party LET";
  color: #61317D;
  line-height: 90px;
  padding: 10px;
  padding-top: 30px;
  border: 2px solid #51FFB8;
}

h2 {
  font-family: "tekton pro";
  text-transform: uppercase;
  padding-top: 30px;
  font-size: 35px;
  color: teal;
}

h3{
  font-size: 23px;
}

img {
  width: 100%;
  height: auto;
}

.left{
  width: 30%;
  float: left
}

.right{
  width: 60%;
  float: right;
}

br{
  clear: both;
}


/*Here is an example of how to use media queries in case we dont get to it in class */
@media(max-width:767px){
  body {
    padding: 0px;
  }
}
